.menuBurger {
    position: relative;
    top: 9.5px;
    right: 13px;

    /*style appliqué lorsque le boutton est cliqué*/
    &.clicked {
        .line:nth-of-type(1) {
            transform: translateY(7px) rotate(45deg);
            background: #3a84bf;
        }
        .line:nth-of-type(2) {
            transform: translateX(30px);
            opacity: 0;
            transition: all 0.5s ease;
            background: #3a84bf;
        }
        .line:nth-of-type(3) {
            transform: translateY(-8px) rotate(-45deg);
            background: #3a84bf;
        }

        .circle:nth-of-type(1) {
            transform: scale(2);
            opacity: 0;
            transition: all 0.3s linear;
        }
        .circle:nth-of-type(2) {
            transform: scale(1.6);
            opacity: 0;
            transition: all 0.3s linear;
        }
        background-color: #b52545;
    }

    width: 50px;
    height: 50px;
    padding: 12.5px 0;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: #3a84bf;
    border: solid 1px #eee;
    cursor: pointer;
    transform: scale(1.5);

    .line {
        width: 22px;
        height: 3px;
        background-color: #b52545;
        transition: transform 0.3s ease;
    }

    .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: solid 1px #fff;
    }
}

@media (max-width: 1025px){
    .menuBurger{
        top: -1px;
    }
}