@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.wrapperSystem {
  padding-top: 200px;
  width: 100%;
  height: 120vh;
  background-color: #11193a;
  transition: opacity 0.5s ease-in-out;
}
.wrapperSystem.active .ballRight {
  animation: moveBallRight 1.5s forwards;
}
.wrapperSystem.active .ballLeft {
  animation: moveBallLeft 1.5s forwards;
}
.wrapperSystem.active .ballTop {
  animation: moveBallTop 1.5s forwards;
}
.wrapperSystem h2 {
  text-align: center;
  color: #fff;
  font-size: 54px;
  margin-bottom: 110px;
}
.wrapperSystem .systemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.wrapperSystem .systemContainer .ballContainer {
  width: 80%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.wrapperSystem .systemContainer .ballContainer .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 105px;
  border: 5px solid #b52545;
  border-radius: 50%;
  background-color: #11193a;
}
.wrapperSystem .systemContainer .ballContainer .circle .ball {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  padding: 30px;
  background-color: #3a84bf;
  border-radius: 50%;
  transition: opacity 0.5s ease-in-out;
}
.wrapperSystem .systemContainer .ballContainer .circle .ballLeft img, .wrapperSystem .systemContainer .ballContainer .circle .ballRight img, .wrapperSystem .systemContainer .ballContainer .circle .ballTop img {
  width: 70px;
}
.wrapperSystem .systemContainer .ballContainer .circle .css img {
  width: 50px;
}
.wrapperSystem .systemContainer .circleCenter {
  width: 40%;
  justify-content: space-between;
  display: flex;
  margin-bottom: 100px;
}
.wrapperSystem .systemContainer .js img {
  border-radius: 20%;
}
.wrapperSystem .systemContainer .bcOne, .wrapperSystem .systemContainer .bcFive {
  justify-content: space-around;
}
.wrapperSystem .systemContainer .bcTwo, .wrapperSystem .systemContainer .bcFour {
  justify-content: space-between;
}
.wrapperSystem .systemContainer .bcThree {
  justify-content: space-around;
}
.wrapperSystem .systemContainer ul li {
  color: #fff;
}

@keyframes moveBallRight {
  from {
    transform: translateX(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveBallLeft {
  from {
    transform: translateX(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveBallTop {
  from {
    transform: translateY(-100vh); /* Déplacer la balle vers le haut de l'écran */
    opacity: 0; /* Rendre la balle invisible */
  }
  to {
    transform: translateY(0); /* Rétablir la position de la balle */
    opacity: 1; /* Rendre la balle visible */
  }
}
@media (max-width: 1025px) {
  .wrapperSystem {
    height: 110vh;
  }
  .wrapperSystem .circleCenter {
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .wrapperSystem {
    height: 170vh;
  }
}/*# sourceMappingURL=system.css.map */