@import '../reset/reset.scss';

.wrapperFooter{
  display: flex;
  flex-direction: column;
    height: 110vh;
    padding: 30px;
    padding-top: 100px;
    margin: auto;
    justify-content: space-between;
    background-color: #11193a;

    h2{
      text-align: center;
      color: #fff;
      font-size: 54px;
      margin-bottom: 100px;
  }

    .containerSocial{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      padding: 10px;
      background-color: #11193a;
      height: 100vh;
      width: 100%;
      border-radius: 10px;
      border: 5px solid #b52545;
      
      p{
        text-align: center;
        color: #fff;
        font-size: 24px;
      }

      .contentContact{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .linkContent{
          display: flex;
          align-items: center;
          width: 20%;
  
          img{
            border-radius: 20%;
            width: 40%;
          }
        }
  
        .bar{
          width: 2px;
          height: 55vh;
          background-color: #fff;
          margin-right: 20px;
        }
  
        .form{
          display: flex;
          justify-content: flex-end;
          width: 75%;
        }
      }

      a{
        text-align: center;
        color: #fff;
      }
    }
    .top{
      width: 5%;
    }
  }

  @media(max-width: 1024px){
    .wrapperFooter{
      height: 120vh;
      .containerSocial{
        justify-content: center;
        flex-direction: column;

        .contentContact{
          flex-direction: column;

          .linkContent{
            margin-top: 60px;
            justify-content: center;
            height: 10vh;
            width: 90%;
          }
  
          .bar{
            height: 2px;
            width: 90%;
          }
        }
      }
    }
  }

@media (max-width: 768px){
  .wrapperFooter{
    height: 120vh;
    padding: 15px;

      .top{
        width: 10%;
      }
  }
}