@import '../reset/reset.scss';

.meWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;



    h2{
        color: #fff;
        font-size: 108px;
        margin-bottom: 20px;
    }

    h3{
        color: #fff;
        font-size: 68px;
        margin-bottom: 20px;
        text-align: center;
    }

    p{
        color: #fff;
        width: 70%;
        font-size: 34px;
        text-align: center;
    }

    a{
        color: #fff;
        width: 70%;
        font-size: 40px;
        text-align: center;
        text-decoration: none;
    }

    .git{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
        width: 62%;
        height: 15%;
        background-image: url("../../assets/blurry-gradient.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50px;
        border: solid 3px #eee;
        padding: 2px;

        .textLink{
            align-items: center;
        }

        img{
            width: 80px;
        }
    }
}

@media (max-width: 1025px){
    .meWrapper{

        .git{
            padding: 2px;
        }

        h2{
            font-size: 81px;
            text-align: center;
        }

        h3{
            font-size: 51px;
        }

        p, a{
            font-size: 30px;
        }

        a{
            padding: 10px;
        }
    }
}


@media (max-width: 768px){
    .meWrapper{

        .git{
            padding: 2px;
            width: 100%;
        }

        h2{
            font-size: 54px;
        }

        h3{
            font-size: 34px;
        }

        p{
            font-size: 17px;
        }

        a{
            font-size: 20px;
        }
    }
}